
 <section id="home" name="home"></section>
 <div id="headerwrap">
   <div class="container">
     <div class="row">
       <div class="col-md-6 col-md-offset-3">
         <h1>Salute! Corsica</h1>
         </br>
         <%= link_to "Jetzt das Haus reservieren!", new_path, :class => "btn btn-warning btn-lg"%>
       </div>
     </div><! --/row -->
   </div><! --/container -->
 </div><! --/headerwrap -->
 <section id="about" name="about"></section>
 <div id="aboutwrap">
   <div class="container">
     <div class="row">
       <div class="col-lg-4 name">
         <%= image_tag("corsica_me.png", :alt => "Responsive image", :class => "rounded mx-auto d-block") %>
         <p>Die Insel Korsika</p>
         <div class="name-label"></div>
         <p><b>I18n.locale:</b>
            <%= I18n.locale %>
       </div><! --/col-lg-4-->
       <div class="col-lg-8 name-desc">
         <h2>KORSIKA - <br/>Insel der Schönheit <br/> Gebirge im Meer</h2>
         <div class="name-zig"></div>

         <div class="col-md-6">
           <p>„Kalliste – Insel der Schönheit“ nannten schon die Griechen Korsika.</p>
           <p>Hinter pinienbestandenen Stränden erheben sich aus der duftenden Macchia bis zu 2700 Meter hohe Berge, von deren Gipfeln man eine Insel überblickt, die zwischen Cap Corse im Norden und Bonifacio im Süden, zwischen der Napoleonstadt Ajaccio im Westen und den kilometerlangen Stränden von Palombaggia im Osten einen Mikrokosmos im Mittelmeer bildet.</p>
           <p>Korsika, das sind die Dörfer der Balagne, die Zitadellenstadt Calvi, die Granittürme von Bavella, das alte Hirtenland um Albertacce, </p>
         </div>
         <div class="col-md-6">
           <p>die erratischen Kastanienwälder der Castagniccia, die Spuren der Römer, Genuesen und Torreaner, die Gipfel von Cinto, Rotondo und Paglia Orba und die steingewordene Phantasielandschaft der Calanche de Piana.</p>
           <p> Besiche authentische und uralte Kultplätze und erlebten ein eigenständiges Volk, das bis heute trotz einer ausgesprochen wechselvollen Geschichte die korsische Identität und Sprache pflegt und seinen Stolz bewahrt hat. </p>
          <p><i>Von Hartmut Krinitz</i></p>
         </div>

       </div><! --/col-lg-8-->

     </div><!-- /row -->
   </div><!-- /container -->
 </div><!-- /aboutwrap -->

 <! -- ABOUT SEPARATOR -->
 <div class="sep about" data-stellar-background-ratio="0.5"></div>

 <! -- PORTFOLIO SECTION -->
 <section id="portfolio" name="portfolio"></section>
 <div id="portfoliowrap">
   <div class="container">
     <div class="row">
       <h1> Entdecke unser Zu Hause </h1>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
         <div class="project-wrapper">
                     <div class="project">
                         <div class="photo-wrapper">
                             <div class="photo">
                               <a class="fancybox"><%= image_tag("house1.jpg", :id => "test", :alt => "", :class => "img-responsive") %></a>
                             </div>
                             <div class="overlay"></div>
                         </div>
                     </div>
                 </div>
       </div><!-- col-lg-4 -->

       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
         <div class="project-wrapper">
                     <div class="project">
                         <div class="photo-wrapper">
                             <div class="photo">
                               <a class="fancybox"><%= image_tag("house2.jpg", :alt => "", :class => "img-responsive") %></a>
                             </div>
                             <div class="overlay"></div>
                         </div>
                     </div>
                 </div>
       </div><!-- col-lg-4 -->

       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
         <div class="project-wrapper">
                     <div class="project">
                         <div class="photo-wrapper">
                             <div class="photo">
                               <a class="fancybox"><%= image_tag("house3.jpg", :alt => "", :class => "img-responsive") %></a>
                             </div>
                             <div class="overlay"></div>
                         </div>
                     </div>
                 </div>
       </div><!-- col-lg-4 -->
     </div><!-- /row -->

     <div class="row mt">
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
         <div class="project-wrapper">
                     <div class="project">
                         <div class="photo-wrapper">
                             <div class="photo">
                               <a class="fancybox"><%= image_tag("nature2.jpg", :alt => "", :class => "img-responsive") %></a>
                             </div>
                             <div class="overlay"></div>
                         </div>
                     </div>
                 </div>
       </div><!-- col-lg-4 -->

       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
         <div class="project-wrapper">
                     <div class="project">
                         <div class="photo-wrapper">
                             <div class="photo">
                               <a class="fancybox"><%= image_tag("house4.jpg", :alt => "", :class => "img-responsive") %></a>
                             </div>
                             <div class="overlay"></div>
                         </div>
                     </div>
                 </div>
       </div><!-- col-lg-4 -->

       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc">
         <div class="project-wrapper">
                     <div class="project">
                         <div class="photo-wrapper">
                             <div class="photo">
                               <a class="fancybox"><%= image_tag("house5.jpg", :alt => "", :class => "img-responsive") %></a>
                             </div>
                             <div class="overlay"></div>
                         </div>
                     </div>
                 </div>
       </div><!-- col-lg-4 -->
     </div><!-- /row -->
   </div><! --/container -->
   <div class="container">
     <div class="row mt centered">
       <h1>Das Wichtigste in Kürze</h1>
       <div class="col-lg-4 proc">
         <i class="fa fa-users"></i>
         <h3>Die Anlage</h3>
         <p>Die Anlage A Chiosura hat über 50 Häuser, untereilt in 3 Blöcke. Die Häuser sind alle voneinander getrennt und bieten genug Privatsphäre</p>
       </div>
       <div class="col-lg-4 proc">
         <i class="fa fa-home"></i>
         <h3>Das Haus B11</h3>
         <p>Bietet Platz für 4 Personen, 2 Bäder, große Küche, Terasse, Garten inklusive Aussendusche.</p>
       </div>
       <div class="col-lg-4 proc">
         <i class="fa fa-life-ring"></i>
         <h3>Der Strand</h3>
         <p>Die Anlage besitzt einen direkten Strandzugang. Vom Haus sind es 100m direkt ins kühle Wasser.</p>
       </div>

     </div><! --/row -->
   </div><! --/container -->
 </div><! --/Portfoliowrap -->

 <! -- PORTFOLIO SEPARATOR -->
 <div class="sep portfolio" data-stellar-background-ratio="0.5"></div>


 <! -- SERVICE SECTION -->
 <section id="services" name="services"></section>
 <div id="servicewrap">
   <div class="container">
     <div class="row">
       <div class="col-lg-8-offset-2 centered">
         <h1>Lerne das Haus kennen.</h1>
         <h3>Ein kleiner Schatz am Meer.</h3>
         <p>Perfekt für Familien, Ruhesuchenden und Entdecker.</p>
       </div><!-- /col-lg-8 -->
       <div class="modal fade" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true"> <!--modal plugin for boostrap to enlarge image -->
         <div class="modal-dialog modal-lg" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
             </div>
             <div class="modal-body">
               <img src="" class="enlargeImageModalSource" style="width: 100%;">
             </div>
           </div>
         </div>
       </div>
       <div class="row mt">
         <div class="col-lg-3 service">
           <i class="fa fa-leaf"></i><p>Küche & Couch<br/><small>Treppe nach oben</small></p>
             <a class="fancybox"><%= image_tag("inhouse1.jpg", :alt => "", :class => "img-responsive") %></a>
         </div>
         <div class="col-lg-3 service">
           <i class="fa fa-bed"></i><p>Schlafzimmer 1<br/><small>1 Stock</small></p>
           <a class="fancybox"><%= image_tag("inhouse2.jpg", :alt => "", :class => "img-responsive") %></a>
         </div>
         <div class="col-lg-3 service">
           <i class="fa fa-bed"></i><p>Schlafzimmer 2<br/><small>Erdgeschoss</small></p>
           <a class="fancybox"><%= image_tag("inhouse4.jpg", :alt => "", :class => "img-responsive") %></a>
         </div>
         <div class="col-lg-3 service">
           <i class="fa fa-bath"></i><p>1 Badezimmer oben<br/><small>1 Stock</small></p>
           <a class="fancybox"><%= image_tag("inhouse5.jpg", :alt => "", :class => "img-responsive") %></a>
         </div>
       </div><! --/row -->
       <div class="row mt">
         <div class="col-lg-3 service">
           <i class="fa fa-bath"></i><p>Badezimmer unten<br/><small>Erdgeschoss</small></p>
           <a class="fancybox"><%= image_tag("inhouse6.jpg", :alt => "", :class => "img-responsive") %></a>
         </div>
         <div class="col-lg-3 service">
           <i class="fa fa-sun-o"></i><p>Der Strand<br/><small>Gehört quasi zum Haus</small></p>
           <a class="fancybox"><%= image_tag("inhouse7.jpg", :alt => "", :class => "img-responsive") %></a>
         </div>
         <div class="col-lg-3 service">
           <i class="fa fa-star"></i><p>Gute Nachbarn<br/><small>Die Gumpen</small></p>
           <a class="fancybox"><%= image_tag("inhouse8.jpg", :alt => "", :class => "img-responsive") %></a>
         </div>
         <div class="col-lg-3 service">
           <i class="fa fa-star"></i><p>Gute Nachbarn II<br/><small>Bonifacio</small></p>
           <a class="fancybox"><%= image_tag("inhouse9.jpg", :alt => "", :class => "img-responsive") %></a>
         </div>
       </div><! --/row -->
     </div>
   </div><! --/container -->
 </div><! --/servicewrap -->
 <div id="testimonials">
   <div class="container">
     <div class="row">
       <div class="col-lg-8 col-lg-offset-2 mt">

         <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
           <!-- Wrapper for slides -->
           <div class="carousel-inner">
             <div class="item active mb centered">
               <h3>Jérôme Ferrari</h3>
               <p>Und was mich bis heute an Korsika fasziniert, ist die eigentümliche Mischung aus archaischer und touristischer Welt. Aus der Kollision dieser so verschiedenen Sphären lassen sich unheimlich viele Geschichten destillieren.</p>
             </div>

             <div class="item mb centered">
               <h3>Ingrid Schindler</h3>
               <p>Korsika klingt ein wenig nach Räuberpistole und das ist es auch auf seine Art. Zum Glück für die wunderschöne Natur, ob in der Macchia an der Küste oder in den Bergen im Hinterland.</p>
             </div>

             <div class="item mb centered">
               <h3>Christoph Berg</h3>
               <p>Ein einheimisches Sprichwort sagt: Wer einmal auf Korsika war, kommt immer wieder</p>
             </div>
           </div>
           <!-- Indicators -->
           <ol class="carousel-indicators">
             <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
             <li data-target="#carousel-example-generic" data-slide-to="1"></li>
             <li data-target="#carousel-example-generic" data-slide-to="2"></li>
           </ol>
         </div>
       </div><! --/col-lg-8 -->
     </div><! --/row -->
   </div><! --/container -->
 </div><! --/testimonials -->
 <div class="container">
   <div class="row">
     <div class="col-lg-8-offset-2 centered">
        <%= link_to "Jetzt das Haus reservieren!", new_path, :class => "btn btn-warning btn-lg"%>
      </div>
    </div>
  </div>
 <div id="servicewrap">
   <div class="container">
     <div class="row">
       <div class="col-lg-8-offset-2 centered">
         <h1>Adresse & Kontakt</h1>
         <h3>Hier findest du unser wunderschönes Zu Hause</h3>
         <p>Urlaub machen, Ankommen und wohlfühlen</p>
         <div class="row-fluid">
               <div class="span8">
               	<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1268830.8212349403!2d8.224272169917336!3d42.38353874330525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d7675a115a8125%3A0xc4e0d6694fb75d03!2sA+Chiosura%2C+20230+Canale-di-Verde%2C+Frankreich!5e0!3m2!1sde!2sde!4v1502707026230&output=embed"></iframe>
           	</div>

             	<div class="span4">
           		<h2>Kontaktdaten</h2>
           		<address>
           			<strong>Ferienparadies</strong><br>
           			A Chiosura<br>
           			20230 <br>
           			Canale-di-Verde<br>
           			Frankreich<br>
           		</address>
           	</div>
           </div>
       </div><!-- /col-lg-8 -->
     </div>
   </div>
 </div>
 <section id="services" name="services"></section>
 <! -- SERVICE SECTION -->
 <section id="contact" name="contact"></section>
 <! -- CONTACT SEPARATOR -->
 <div class="sep contact" data-stellar-background-ratio="0.5"></div>


   <!-- Bootstrap core JavaScript
   ================================================== -->
   <!-- Placed at the end of the document so the pages load faster -->
