<% provide(:title, 'Reservierung bearbeiten') %>
<div class="row" id="row-form">
  <div class="col-md-6 col-md-offset-3">
    <div class="page-header">
      <h1 class="text-center">Reservierung bearbeiten</h1>
      <p class="text-center">Hier können die Reservierungen bearbeitet werden.
                      Bestätige Reservierungen oder ändere die Zeiträume für
                      Reservierungen</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@reservation) do |f| %>
          <%= render 'shared/error_messages' %>
          <%= f.label :Name %>
          <%= f.text_field :name, class: 'form-control' %>

          <%= f.label :Email %>
          <%= f.email_field :email, class: 'form-control' %>

          <%= f.label :Resrvierung_Bestätigen %>
          <%= f.check_box :accepted, class: 'form-check' %>

          <%= f.label :Von %>
          <%= f.date_select :start_time, class: 'form-control' %>

          <%= f.label :Bis %>
          <%= f.date_select :end_time, class: 'form-control' %>

          <%= f.submit "Reservierung speichern!", class: "btn btn-primary", data: { confirm: "Änderungen speichern?" } %>
        <% end %>
        <%= link_to "Zurück", all_path %>
      </div>
    </div>
  </div>
</div>
